@model List<OBS.Models.Dersler>
@{
    ViewBag.Title = "OgrenciDers";
    Layout = null;
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Ders Kaydı Yaptığınız Dersler</h3>
    </div>

    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 10px">ID</th>
                <th>Ders Adı</th>
                <th>Ders Kodu</th>
                <th>Ders Durum</th>
                <th>Kredi</th>

            </tr>
            @foreach (var item in Model)
            {
        <tr>
            <td>@item.ID</td>
            <td>@item.DersAdi</td>
            <td>@item.DersKodu</td>
            @if (item.Durum == true)
            {
                <td>Aktif</td>
            }
            else
            {
                <td>Pasif</td>
}
            <td>@item.Kredi</td>
            <td><button class="btn btn-block btn-danger btn-xs" onclick="DeleteDersKaydi('@item.ID')">Ders Çıkar</button></td>
        </tr>
            }



        </table>
    </div>
</div>

<script>

    function DeleteDersKaydi(DersID) {
        $.ajax({
            url: "/Student/DersKaydiSil",
            data: { DersId: DersID },
            type: "GET",
            success: function (data) {
                window.location.reload();
            },
        });
    }
</script>