@model OBS.Models.Dersler
@{
    ViewBag.Title = "DuzenleDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Ders Güncelleme Sayfası</h2>
@using (Html.BeginForm("DuzenleDers", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(model => model.ID)
<div class="form-group">

    @Html.Label("Ders Adı", new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(model => model.DersAdi, new { @class = "col-md-3" })
    <br />
    <br />
    @Html.Label("Ders Kodu", new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(model => model.DersKodu, new { @class = "col-md-3" })
    <br />
    <br />
    @Html.Label("Durum", new { @class = "col-md-2 control-label" })
    @*@Html.TextBoxFor(model => model.Durum, new { @class = "form-control" })*@
    @Html.DropDownListFor(model => model.Durum, new List<SelectListItem>()
                                               {
                                                   new SelectListItem() { Text = "Pasif", Value = "False"},
                                                   new SelectListItem() { Text = "Aktif", Value = "True" } }, new { @class = "col-md-3" })
    <br />
    <br />
    @Html.Label("Kredi", new { @class = "col-md-2 control-label" })
    @Html.TextBoxFor(model => model.Kredi, new { @class = "col-md-3" })
    <br />
    <br />
    <button class="btn btn-success">Güncelle</button>
</div>
}
