@using OBS.Models
@model List<MufredatDersler>
@{
    ViewBag.Title = "MufredatDersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Mufredat Ders Detay Sayfası</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 10px">ID</th>
                <th>Muf ID</th>
                <th>Müfredat Adı</th>
                <th>Ders ID</th>
                <th>Ders Adı</th>
                <th>Ders Kodu</th>
                <th>Ders Durum</th>
             
            
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                if (item.Dersler.Durum == true) { 
        <tr>
            <td>@item.ID</td>
            <td>@item.Mufredat.ID</td>
            <td>@item.Mufredat.MufredatAdi</td>
            <td>@item.Dersler.ID </td>
            <td>@item.Dersler.DersAdi</td>
            <td>@item.Dersler.DersKodu</td>

            @if (item.Dersler.Durum == true)
            {
                <td>
                    Aktif 
                    @*@item.Dersler.Durum*@
                </td>
            }



                <td><button class="btn btn-block btn-warning btn-xs">Güncelle</button></td>
            </tr>
                }
            }



        </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div><!-- /.box