@using OBS.Models
@model List<Mufredat>
@{
    ViewBag.Title = "Mufredat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title">Müfredatlar</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th style="width: 10px">ID</th>
                <th>Müfredat ADI</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.MufredatAdi</td>
                    <td><button class="btn btn-block btn-warning btn-xs" style="width:150px; height:30px" onclick="MufredatUpdate(@item.ID)">Güncelle</button></td>
                    <td><button class="btn btn-block btn-info btn-xs" style="width:150px; height:30px" onclick="MufredatClone(@item.ID)">Müfredat Klonla</button></td>
                    <td><button class="btn btn-block btn-danger btn-xs" style="width:150px; height:30px" onclick="MufredatDel(@item.ID)">Müfredat Sil</button></td>
                </tr>
            }

            @*<a href="/Admin/EkleMufredat">Yeni Müfredat Ekle</a>*@
            <button class="btn btn-block btn-success btn-xs" style="width:150px; height:30px" onclick="MufredatAdd()">Yeni Müfredat Ekle</button>

        </table>
    </div><!-- /.box-body -->
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>
    </div>
</div><!-- /.box -->

<div class="modal fade" id="modalMufClo" tabindex="-1" role="dialog" aria-labelledby="">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
       
            </div>
       
                <div class="modal-body" id="modalMufCloBody">
                   
                </div>
             
          
        </div>
    </div>
</div>
<script>

    function MufredatUpdate(id) {
        window.location.href = "/Admin/DuzenleMufredat?id=" + id;

    }
    function MufredatDel(id) {
        window.location.href = "/Admin/SilMufredat?id=" + id;

    }
    function MufredatAdd() {
        window.location.href = "/Admin/EkleMufredat";
    }
</script>
<script>
    function MufredatClone(id) {
        $.ajax({
            url: "/Admin/MufredatClone",
            data: { id: id },
            type: "GET",
            success: function (data) {
                $("#modalMufClo").modal('show');
                $("#modalMufCloBody").html(data);
            },
        });
    }
</script>